<div class="flex flex-col lg:flex-row gap-8 p-4 md:p-6 overflow-hidden">
  <div class="w-full lg:w-1/2 flex flex-col h-full shadow-md rounded-xl">
    <mat-tab-group class="flex-1 overflow-hidden">
      <mat-tab label="მიმდინარე" class="py-4">
        <ul class="space-y-4 p-4 pb-12 max-h-[600px] overflow-y-auto">
          @for (assignment of pendingAssignments$ | async; track assignment.id)
          {
          <li
            class="p-5 rounded-xl flex flex-col sm:flex-row justify-between shadow-xl h-auto sm:h-[220px] gap-3"
            [ngClass]="{
              'bg-blue-50': selectedAssignment?.id === assignment.id,
              'bg-white': selectedAssignment?.id !== assignment.id
            }"
          >
            <div class="flex flex-col gap-2 w-full sm:w-3/4 overflow-hidden">
              <h1 class="font-semibold text-lg">
                {{ assignment.subject.name }}
              </h1>
              <p
                class="text-gray-600 border-b pb-2 border-gray-200 text-sm sm:text-base"
              >
                ⏰ {{ assignment.deadline | date : "shortDate" }} -
                {{ assignment.deadlineTime | date : "shortTime" }}
              </p>

              <p
                class="text-gray-600 text-sm line-clamp-3 p-1 px-3 pb-1 rounded-xl"
                [innerHTML]="assignment.description"
              ></p>

              @if (assignment.type) {
              <p class="text-gray-800 font-bold mt-1 text-sm sm:text-base">
                {{ assignment.type }}
              </p>
              }
            </div>

            <div
              class="flex sm:flex-col justify-between sm:justify-start h-auto sm:h-full items-end gap-3"
            >
              <div class="flex gap-2">
                <button
                  class="edit-btn"
                  (click)="openaddAssignmentComponent(assignment)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  (click)="deleteAssignment(assignment)"
                  class="delete-btn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="flex items-center gap-2 sm:mt-auto">
                <p class="text-sm">შესრულებული</p>
                <mat-checkbox
                  (change)="markCompleted(assignment)"
                ></mat-checkbox>
              </div>
            </div>
          </li>
          }
        </ul>
      </mat-tab>

      <mat-tab label="დასრულებული">
        <ul class="space-y-4 p-4 pb-12 max-h-[600px] overflow-y-auto">
          @for (assignment of completedAssignments$ | async; track
          assignment.id) {
          <li
            class="p-5 rounded-xl flex flex-col sm:flex-row justify-between shadow-xl h-auto sm:h-[220px] gap-3"
            [ngClass]="{
              'bg-blue-50': selectedAssignment?.id === assignment.id,
              'bg-white': selectedAssignment?.id !== assignment.id
            }"
          >
            <div class="flex flex-col gap-2 w-full sm:w-3/4 overflow-hidden">
              <h1 class="font-semibold text-lg">
                {{ assignment.subject.name }}
              </h1>
              <p
                class="text-gray-600 border-b pb-2 border-gray-200 text-sm sm:text-base"
              >
                ⏰ {{ assignment.deadline | date : "shortDate" }} -
                {{ assignment.deadlineTime | date : "shortTime" }}
              </p>

              <p
                class="text-gray-600 text-sm line-clamp-3 p-1 px-3 pb-1 rounded-xl"
                [innerHTML]="assignment.description"
              ></p>

              @if (assignment.type) {
              <p class="text-gray-800 font-bold mt-1 text-sm sm:text-base">
                {{ assignment.type }}
              </p>
              }
            </div>

            <div
              class="flex sm:flex-col justify-between sm:justify-start h-auto sm:h-full items-end gap-3"
            >
              <div class="flex gap-2">
                <button
                  class="edit-btn"
                  (click)="openaddAssignmentComponent(assignment)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  (click)="deleteAssignment(assignment)"
                  class="delete-btn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="flex items-center gap-2 sm:mt-auto">
                <p class="text-sm">შესრულებული</p>
                <mat-checkbox
                  checked
                  (change)="markPending(assignment)"
                ></mat-checkbox>
              </div>
            </div>
          </li>
          }
        </ul>
      </mat-tab>
    </mat-tab-group>

    <button
      (click)="openaddAssignmentComponent(null)"
      class="w-58 primary-btn flex self-center justify-center m-8"
      [disabled]="showAddAssignment && !selectedAssignment"
    >
      <span class="mr-4">+</span> დავალების დამატება
    </button>
  </div>

  <div class="w-full lg:w-1/2">
    @if (showAddAssignment) {
    <app-add-assignment
      [assignmentData]="selectedAssignment"
      (closeAddAssignmentEvent)="closeAssignmentAdd()"
    ></app-add-assignment>
    }
  </div>
</div>
