<form
  class="registration-form"
  [formGroup]="registrationForm"
  (ngSubmit)="register()"
>
  <h2 class="form-title">რეგისტრაცია</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>სახელი</mat-label>
    <input matInput type="text" formControlName="firstName" />
    @if(firstName?.hasError('required')){
    <mat-error class="error-text">სახელი აუცილებელია</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>გვარი</mat-label>
    <input matInput type="text" formControlName="lastName" />
    @if(lastName?.hasError('required')){
    <mat-error class="error-text">გვარი აუცილებელია</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>მეილი</mat-label>
    <input matInput type="email" formControlName="email" />
    @if(email?.hasError('required')){
    <mat-error class="error-text">მეილი აუცილებელია</mat-error>
    }@else if(email?.hasError('email')){
    <mat-error class="error-text">შეიყვანეთ სწორი მეილი</mat-error>}
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>პაროლი</mat-label>
    <input matInput type="password" formControlName="password" />
    @if(password?.hasError('required')){
    <mat-error class="error-text">პაროლი აუცილებელია</mat-error>
    } @else if(password?.hasError('minlength')){
    <mat-error class="error-text">პაროლი უნდა იყოს მინიმუმ 6 სიმბოლო</mat-error
    >}
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="full-width"
    [disabled]="!registrationForm.valid"
  >
    რეგისტრაცია
  </button>

  <a routerLink="/login">უკვე გაქვთ ანგარიში? შესვლა</a>

  @if(error){
  <p class="error-text" class="error-text">{{ error }}</p>
  }
</form>
