@import "./form-elements.scss";
@import "./mixins.scss";
@import "./toast.scss";

@include custom-checkbox;

@include custom-radio;

input.mat-mdc-input-element:-webkit-autofill,
input.mat-mdc-input-element:-webkit-autofill:hover,
input.mat-mdc-input-element:-webkit-autofill:focus,
input.mat-mdc-input-element:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
}

.primary-btn {
  @include primary-button;
}

.secondary-btn {
  @include secondary-button;
}
.custom-radio-btn {
  @include custom-radio;
}

.delete-btn {
  cursor: pointer;
  color: var(--error-color);
  &:hover {
    color: darken(#e53e33, 5);
  }
}
.edit-btn {
  cursor: pointer;
  color: var(--primary-color);
  &:hover {
    color: darken(#4e4e83, 5);
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, transparent);
    border-radius: 3px;
    margin-top: var(--scrollbar-margin-top, 0px) !important;
    margin-bottom: var(--scrollbar-margin-bottom, 0px) !important;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-light-color);
    border-radius: 3px;
  }
}
