@import "./form-elements.scss";
@import "./mixins.scss";

@include custom-checkbox;

@include custom-radio;

input.mat-mdc-input-element:-webkit-autofill,
input.mat-mdc-input-element:-webkit-autofill:hover,
input.mat-mdc-input-element:-webkit-autofill:focus,
input.mat-mdc-input-element:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
}

.primary-btn {
  @include primary-button;
}

.secondary-btn {
  @include secondary-button;
}
.custom-radio-btn {
  @include custom-radio;
}

.delete-btn {
  cursor: pointer;
  color: var(--error-color);
  &:hover {
    color: darken(#e53e33, 5);
  }
}
.edit-btn {
  cursor: pointer;
  color: var(--primary-color);
  &:hover {
    color: darken(#4e4e83, 5);
  }
}

.registration-form {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
  }

  .full-width {
    width: 100%;
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .error-text {
    color: #e53935;
    font-weight: 500;
    margin-left: -10px;
  }
  a {
    text-decoration: none;
  }
}
