<form class="registration-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2 class="form-title">შესვლა</h2>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>მეილი</mat-label>
    <input matInput type="fill" formControlName="email" />
    @if(email?.hasError('required')){
    <mat-error class="error-text">მეილი აუცილებელია</mat-error>
    } @else if(email?.hasError('email')){
    <mat-error class="error-text">შეიყვანეთ სწორი მეილი</mat-error>}
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>პაროლი</mat-label>
    <input matInput type="password" formControlName="password" />
    @if(password?.hasError('required')){
    <mat-error class="error-text">პაროლი აუცილებელია</mat-error>
    }
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="full-width"
    [disabled]="!loginForm.valid"
  >
    შესვლა
  </button>

  <a routerLink="/register">რეგისტრაცია</a>
  @if(error){
  <p class="error-text">{{ error }}</p>
  }
</form>
