@use "@angular/material" as mat;
@use "ngx-toastr/toastr";
@import "tailwindcss";
@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "../src/styles/shared.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @each $name, $color in $colors {
    --#{$name}-color: #{$color};
  }
  --font-primary: "CredoFont, sans-serif";
}
