@import "tailwindcss";
@import "./assets/styles/variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @each $name, $color in $colors {
    --#{$name}-color: #{$color};
  }
  --font-primary: "CredoFont, sans-serif";
}

input.mat-mdc-input-element:-webkit-autofill,
input.mat-mdc-input-element:-webkit-autofill:hover,
input.mat-mdc-input-element:-webkit-autofill:focus,
input.mat-mdc-input-element:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
}

.registration-form {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
  }

  .full-width {
    width: 100%;
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .error-text {
    color: #e53935;
    font-weight: 500;
    margin-left: -10px;
  }
  a {
    text-decoration: none;
  }
}
